In [2]:
a =10
if a == 10:
    print("this is my first condition")

this is my first condition

In [3]:
a =10
if a == 11:
    print("this is my first condition")

In [5]:
a =10
if a > 5:
    pass

In [6]:
a =10
if a > 8:
    print("this is my first condition")

this is my first condition

In [7]:
a= 10
if a < 8:
    print("condition is not true")

In [8]:
a = 10
if a != 11:
    print("my condition is not true")
else:
    print("print this")

my condition is not true

In [9]:
a = 10
if a == 11:
    print("my condition is not true")
else:
    print("print this")

print this

In [11]:
a = 10
if a==12:
    print("we are trying to compare 10 with 12")
elif a==11:
    print("we are trying to compare 10 with 11")
else :
    print ("if all the blocks fail then print this")

if all the blocks fail then print this

In [13]:
a = 10
if a==12:
    print("we are trying to compare 10 with 12")
elif a==10:
    print("we are trying to compare 10 with 10")
else :
    print ("if all the blocks fail then print this")

we are trying to compare 10 with 10

In [16]:
price = 500
if price > 500:
    print("Can't buy jacket")
elif price <= 500:
    print("Can Buy new Jacket")

Can Buy new Jacket

In [17]:
price = 500
if price > 500:
    print("Can't buy jacket")
elif price <= 500:
    print("Can Buy new Jacket")
else price == 500:
    print ("It will not work bcz we can not mention condition with else")

SyntaxError: invalid syntax (Temp/ipykernel_24736/2250688673.py, line 6)

In [19]:
price = 500
if price > 500:
    print("Can't buy jacket")
elif price <500:
    print("Can Buy new Jacket")
elif price == 500:
    print ("For sure I will buy a Jacket")
else:
    print ("lets see")

For sure I will buy a Jacket

In [21]:
l = [1,2,3,4,5,6,7,8]
2 in l

True

In [22]:
if 2 in l :
    print("perform this task")
else:
    print("Avoid task")

perform this task

In [23]:
60 in l

False

In [24]:
if 1 in l:
    print("do addition")
elif 2 in l:
    print("do sub")
elif 3 in l:
    print("do multiplication")   # if allt conditions are true then if loop will execute first condition

do addition

In [26]:
if 10 in l:
    print("do addition")
elif 2 in l:
    print("do sub")
elif 3 in l:
    print("do multiplication")

do sub

In [27]:
if 10 in l:
    print("do addition")
elif 2 in l:
    print("do sub")
elif 3 in l:
    print("do multiplication")  
if 4 in l:                                             # loop will consider it as new condition/block
    print("this is a new condition")

do sub
this is a new condition

In [29]:
a = 400
a1 = input()        # we take input from user and it take data in string format

400

In [30]:
type(b)

str

In [32]:
b = int(input())

400

In [33]:
type(b)

int

In [41]:
price = int(input())
if price < 500:
    print("I will buy a Jacket")
    if price < 400 :
        print ("I will buy a Shirt")
    elif price < 300:
        print("I will buy a T-shirt")
    else:
        print("I will not buy any thing")
else :
    print("Better luck next time")

89
I will buy a Jacket
I will buy a Shirt

In [44]:
price = int(input())
if price < 500:
    print("I will buy a Jacket")
    if price < 400 :
        print ("I will buy a Shirt")
    elif price < 300:
        print("I will buy a T-shirt")
        if price < 200:
            print("i can eat something")
    else:
        print("I will not buy any thing")
else :
    print("Better luck next time")
    
if price > 500:
    print("lets buy Shoes")

700
Better luck next time
lets buy Shoes

In [57]:
marks = int(input())
if marks > 600:
    print("Your GRE is pass")
if marks < 600:
    print("GRE is not pass")
if marks < 500:
    print("your TOFEL is pass")
elif marks < 400:
    print("try again")
else:
    print("Please try something else")

340
GRE is not pass
your TOFEL is pass

In [68]:
marks = int(input())
if marks > 600:
    print("Your GRE is pass")
if marks < 600:
    print("GRE is not pass")
    if marks < 500:
        print("your TOFEL is pass")
    elif marks < 400:
        print("try again")
else:
    print("Next time")

300
GRE is not pass
your TOFEL is pass

In [74]:
val = float(input("Enter your number: "))
if val >= 0:
    if val == 0:
        print("Entered Value is Zero")
    else:
        print("Entered value is a +ve number")
else:
    print("Entered value is a -Ve number")

Enter your number: 7
Entered value is a +ve number

In [76]:
a = 10
if a<10 or a ==10 :          # or operation(+) F+T = T,T+F =T F+F =F T+T =T   : F=0  T=1
    print("Try to print something")

Try to print something

In [77]:
a = 199
if a<10 or a ==10 :          
    print("Try to print something")

In [78]:
a = 10
if a<10 and a ==10 :          # AND operation(*) F*T = F,T*F =F F*F =F T*T =T  : F=0  T=1
    print("Try to print something")

In [79]:
a = 10
if a<=10 and a ==10 :         
    print("Try to print something")

Try to print something

In [82]:
a = "Akriti"
if a =="akriti" and a=="Akriti":
    print ("This is a simple AND condition with both True condition")

In [81]:
a = "Akriti"
if a =="Akriti" and a=="Akriti":
    print ("This is a simple AND condition with both True condition")

This is a simple AND condition with both True condition

In [84]:
a = "Akriti"
if a =="akriti" or a=="Akriti":
    print ("This is a simple OR condition with both True condition")

This is a simple OR condition with both True condition

In [86]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d==13:
    print("Lets try some more examples")

In [87]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d==13:
    print("Lets try some more examples")

Lets try some more examples

In [92]:
d = {'key1': "value", 'key2': "Python", 'key3': "condition"}

In [93]:
if d['key1']== "value" and d['key2']=="Python" and d['key3']== "condition":
    print("all values are verified")
    print (d.values())

all values are verified
dict_values(['value', 'Python', 'condition'])

In [94]:
if d['key1']== "V-alue" and d['key2']=="Python" and d['key3']== "condition":
    print("all values are verified")
    print (d.values())
else:
    print ("values are not verified")

values are not verified

# Loop-for While

In [95]:
l = [1,2,3,4,"Akki", 678.8]
l[0]

1

In [96]:
for i in l :
    print(i)

1
2
3
4
Akki
678.8

In [97]:
l

[1, 2, 3, 4, 'Akki', 678.8]

In [98]:
for i in l :
    print(i+1)

2
3
4
5

TypeError: can only concatenate str (not "int") to str

In [100]:
for i in l:
    if type(i)== int or type(i)==float:
        print(i+1)
    elif type(i)==str:
        print(i + str(1))

2
3
4
5
Akki1
679.8

In [107]:
l1 = []
for i in l:
    if type (i) == int:
        l1.append(i)
print(l1)

[1, 2, 3, 4]

[1, 2, 3, 4]