# For Loop

In [58]:
l = [1,2,3,4,"Akriti", "singh", 78.8]

In [59]:
for i in l:
    print(i)         # i is local variable

1
2
3
4
Akriti
singh
78.8

In [60]:
for i in l:
     pass

In [61]:
x = "Akriti"
for i in x:
    print(i)

A
k
r
i
t
i

In [62]:
x1 = (91,2,4,5)
for i in x1:
    print(i)

91
2
4
5

In [63]:
for i in l:
    print(i)
else:
    print ("if for loop is going to complete itself then it will execute else")

1
2
3
4
Akriti
singh
78.8
if for loop is going to complete itself then it will execute else

In [64]:
for i in l:
    if i ==4:
        break
    print(i)
else:
    print("this will execute only if FOR loop is going to complete itself")

1
2
3

In [65]:
for i in l:
    if i ==4:
        print(i)
else:
    print("this will execute only if FOR loop is going to complete itself")

4
this will execute only if FOR loop is going to complete itself

In [66]:
x

'Akriti'

In [67]:
for i in x:
    if i =='t':
        break
    print(i)
else:
    print("print sting", x)

A
k
r
i

In [68]:
for i in x:
    if i =='z':
        break
    print(i)
else:
    print("print sting", x)

A
k
r
i
t
i
print sting Akriti

In [69]:
t = (4,5,6,7,8,9,"Akriti")
for i in t:
    print(i)

4
5
6
7
8
9
Akriti

In [70]:
b = {4,5,6,7,8,7,9,"Akriti"}            # remove duplicate values
for i in b:
    print(i)

4
5
6
7
8
9
Akriti

In [71]:
d = {'key1': "Akriti", 'contact': "akritisingh1234", 'position': "data analyst"}
for i in d:
    print(i)

key1
contact
position

In [72]:
d['key1']

'Akriti'

In [73]:
d = {'key1': "Akriti", 'contact': "akritisingh1234", 'position': "data analyst"}
for i in d:
    print(d[i])

Akriti
akritisingh1234
data analyst

In [74]:
d = {'key1': "Akriti", 'contact': "akritisingh1234", 'position': "data analyst"}
for i in d:
    print(d[i], i)

Akriti key1
akritisingh1234 contact
data analyst position

In [75]:
range(9)

range(0, 9)

In [76]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [78]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [79]:
list(range(0,9,-1))

[]

In [80]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("@kk!", end = " ")
    print("\n")

@kk!

@kk! @kk!

@kk! @kk! @kk!

@kk! @kk! @kk! @kk!

In [82]:
n = int(input("Enter your patter no: "))
for i in range (n):
    for j in range(n-i-1):
        print(end = " ")
    for j in range(i+1):
        print("*", end = " ")
    print()

Enter your patter no: 4
   *
  * *
 * * *
* * * *

In [83]:
n = int(input("Enter your patter no: "))
for i in range(n):
    for j in range (n-i):
        print("*", end = " ")
    for j in range (i):
        print(end = "  ")
    print()

Enter your patter no: 4
* * * *
* * *
* *
*

In [84]:
t = (2,3,4,7,3,23,56,7,9,5)
len(t)

10

In [85]:
for i in range(len(t)):
    print(i, " : ", t[i])

0  :  2
1  :  3
2  :  4
3  :  7
4  :  3
5  :  23
6  :  56
7  :  7
8  :  9
9  :  5

In [86]:
s = "Akriti Singh"
range(len(s))
s[12:0:-1]

'hgniS itirk'

In [87]:
for i in range(len(s)):
    print(i, ":", s[i])

0 : A
1 : k
2 : r
3 : i
4 : t
5 : i
6 :
7 : S
8 : i
9 : n
10 : g
11 : h

In [88]:
for i in range(len(s),0,-1):
    print(i-1, ":", s[i-1])

11 : h
10 : g
9 : n
8 : i
7 : S
6 :
5 : i
4 : t
3 : i
2 : r
1 : k
0 : A

In [89]:
for i in range(len(s)-1,-1,-1):
    print(i, ":", s[i])

11 : h
10 : g
9 : n
8 : i
7 : S
6 :
5 : i
4 : t
3 : i
2 : r
1 : k
0 : A

In [90]:
d = {'key1': "Akriti", 'contact': "akritisingh1234", 'position': "data analyst"}

In [91]:
len(d)

3

In [93]:
d.items()

dict_items([('key1', 'Akriti'), ('contact', 'akritisingh1234'), ('position', 'data analyst')])

In [94]:
d.keys()

dict_keys(['key1', 'contact', 'position'])

In [95]:
for i in d.items():
    print (i)

('key1', 'Akriti')
('contact', 'akritisingh1234')
('position', 'data analyst')

In [97]:
for i in d.items():
    print (i, type(i),type(i[1]))

('key1', 'Akriti') <class 'tuple'> <class 'str'>
('contact', 'akritisingh1234') <class 'tuple'> <class 'str'>
('position', 'data analyst') <class 'tuple'> <class 'str'>

In [98]:
l1 = ["Akriti", "Singh", 1324453,4,6,"python", 567,6789]

In [106]:
l2 = []
for i in l1:
    if type(i)==int:
        l2.append(i)
print(l2)

[1324453, 4, 6, 567, 6789]

In [108]:
d ={1: 234235, "name": "Akriti", "emal": "@gmail", 134: "ergfg", "657": "dfsfgfhg", 4556: 5677}

In [110]:
for  i in d:
    if type(i)== int:
        print(i, ":", d[i])

1 : 234235
134 : ergfg
4556 : 5677

In [113]:
s = "aaaabbccddd"
set(s)

{'a', 'b', 'c', 'd'}

In [114]:
for i in set(s):
    print(i, ":", s.count(i))

a : 4
c : 2
b : 2
d : 3

In [118]:
 i = 344533456744567335577
for j in i:
    print(i)           # integers are not iterable

TypeError: 'int' object is not iterable

In [123]:
 i = 344533456744567335577    
for j in str(i):
    print(int(j), type(int(j)))

3 <class 'int'>
4 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
4 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
3 <class 'int'>
3 <class 'int'>
5 <class 'int'>
5 <class 'int'>
7 <class 'int'>
7 <class 'int'>

In [139]:
t = ("akriti","singh",[3,4,6,9,7,8,9],(3,4,6,8), {3:"v1","k2":"v2"})

In [140]:
for i in t:
    if type(i)==list or type(i)==tuple or type(i)==dict:
        for j in i:
            if j==3:
                print(j)

3
3
3

In [141]:
t1 = ("akriti","singh",[3,4,6,9,7,8,9],(3,4,6,8), {3:3,"k2":"v2"})

In [145]:
for i in t1:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if k==3 or v==3:
                print(k,v)

3
3
3 3